<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/index.css">
    <script src="../index.js"></script>
    <title>Sobre la Página</title>
</head>

<ul class="topnav" id="topnav">
    <li><a href="../../index.html">Inicio</a></li>
    <li><a href="./nosotros.html">Sobre Nosotros</a></li>
    <li><a href="./about.html">Sobre la Página</a></li>
    <li><a href="./FAQ.html">Preguntas Frecuentes</a></li>
    <li><a class="active" href="">Documentación</a></li>
    <li class="right"><a href="./registro.html">Registrar</a></li>
    <li class="right"><a href="./inicio_sesion.html">Iniciar Sesión</a></li>
</ul>

<div class="orden">
<h1 class="titulo"> Documentación </h1>
<section id="sobre_la_app">
    <div class="historia">
        <h3 class="subtitulo_sobre"> Historia: 📝</h3>
        <p class="parrafos_sobre"> Esta aplicación nació de la necesidad de un grupo de compañeros de generar una plataforma donde 
            se puedan realizar simulaciones sobre la industria del vidrio. Bajo ese contexto, nos surgió la idea de 
            hacer una plataforma donde distintos agentes de una empresa se puedan comunicar mediante ella. </p>
    </div>
    
    </section>
</div>

