<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/index.css">
    <script src="../index.js"></script>
    <title>Preguntas Frecuentes</title>
</head>

<header>
<ul class="topnav" id="topnav">
    <li><a href="../../index.html">Inicio</a></li>
    <li><a href="./nosotros.html">Sobre Nosotros</a></li>
    <li><a href="./about.html">Sobre la Página</a></li>
    <li><a class="active" href="">Preguntas Frecuentes</a></li>
    <li class="right"><a href="./registro.html">Registrar</a></li>
    <li class="right"><a href="./inicio_sesion.html">Iniciar Sesión</a></li>
</ul>

<div class="feq">

    <h1 class="titulo">Preguntas Frecuentes</h1>
    <!-- <a href="../../index.html">Volver a menú de inicio</a>
    <br> 
    <a href="./nosotros.html">Sobre nosotros</a> -->
    </header>


    <ul class="lista_faq">
        <li class="elemento_faq"> 
            <details class="details_faq">
                <summary class="texto_faq">¿Cómo puedo formar una nueva cuenta para mi empresa?</summary>
                Primero deberás tener que crear una cuenta de tipo Usuario Gerente, en la cual se te presentará un 
                input de texto en el que deberás ingresar el nombre de tu empresa.

                Luego, el resto de los usuarios que quieran ser parte de tu empresa deberán crear cuenta con el tipo 
                de usuario que quieran y seleccionar tu empresa dentro de los nombres que aparecen.
            </details>
        </li>
        <li class="elemento_faq"> 
            <details class="details_faq">
                <summary class="texto_faq">¿Cuántos usuarios puede tener una empresa?</summary>
                Respuesta 2
            </details>
        </li>
        <li class="elemento_faq"> 
            <details class="details_faq">
                <summary class="texto_faq">¿Qué hacer una vez que el Usuario Gerente creó una simulación?</summary>
                A cada uno de los usuarios de la empresa le aparecerá en su perfil una nueva simulación a la que 
                podrá acceder. Con esta podrá, después de analizarla, rechazarla, aceptarla o enviar una contraoferta.
            </details>
        </li>
        <li class="elemento_faq"> 
            <details class="details_faq">
                <summary class="texto_faq">¿Cuántos tipos de usuarios existen?</summary>
                Son cuatro: el Usuario Gerente, el Usuario Finanzas, el Usuario Empleos y el Usuario Insumos.
            </details>
        </li>
    </ul>

    <section class="extra_faq">
        <h3 class="aun_dudas">¿Aún tienes dudas?</h3>
        <h4 class="contactarnos">No dudes en contactarnos a  <a >soa@gmail.com</a>  donde podremos contestar todas tus dudas</h4>
    </section>

</div>