<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/styles/forms.css">
        <link rel="stylesheet" href="../assets/styles/index.css">
        <script src="../index.js"></script>
        <title>Inicio Sesión</title>
    </head>

<header>
    <ul class="topnav">
        <li><a href="../../index.html">Home</a></li>
        <li><a href="./nosotros.html">Sobre Nosotros</a></li>
        <li><a href="./about.html">Sobre la Página</a></li>
        <li><a href="./FAQ.html">Preguntas Frecuentes</a></li>
        <li class="right"><a href="./registro.html">Registrar</a></li>
        <li class="right active"><a href="">Iniciar Sesión</a></li>
    </ul>
</header>  


<form id="formulario">
    
    <h1 id="titulo_registro">Iniciar Sesión</h1>
    
  <fieldset class="esquema">
      <label class="labels" for="name">Email:</label>
      <input type="text" id="nombre">
      
      <label class="labels" for="mail">Contraseña:</label>
      <input type="password" id="mail" name="user_email">

      
      <button type="submit" class="submit_button">Iniciar Sesión</button>
  </fieldset>
    
  </form>
  
</body>
</html>

<!-- LA BASE DE ESTE CÓDIGO FUE OBTENIDA DE https://codepen.io/matthu185/pen/myyvgr-->