<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/index.css">
    <title>Sobre Nosotros</title>
</head>

<ul class="topnav">
    <li><a href="../../index.html">Inicio</a></li>
    <li><a class="active" href="">Sobre Nosotros</a></li>
    <li><a href="./about.html">Sobre la Página</a></li>
    <li><a href="./FAQ.html">Preguntas Frecuentes</a></li>
    <li class="right"><a href="./registro.html">Reigstrar</a></li>
    <li class="right"><a href="./inicio_sesion.html">Iniciar Sesión</a></li>
</ul>

<h1>Sobre la aplicacion HTML</h1>
<a href="../../index.html">Volver a menú de inicio</a>
<br> 
<a href="./nosotros.html">Sobre nosotros</a>
