<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/index.css">
    <title>Sobre Nosotros</title>
</head>

<ul class="topnav">
    <li><a href="../../index.html">Inicio</a></li>
    <li><a class="active" href="">Sobre Nosotros</a></li>
    <li><a href="./about.html">Sobre la Página</a></li>
    <li><a href="./FAQ.html">Preguntas Frecuentes</a></li>
    <li class="right"><a href="./registro.html">Reigstrar</a></li>
    <li class="right"><a href="./inicio_sesion.html">Iniciar Sesión</a></li>
</ul>

<h1 class="titulo">Sobre Nosotros</h1>
<h3>Somos el equipo creador de SOA, conformado por:</h3><br>
<section class="grid_nosotros">
    <div class="grid_item_nosotros" id="item_1">
        <img class="imagen_nosotros" src="../assets/imgs/perfil.png">
        <h2 class="nombre_nosotros"> Domingo Agüero Ureta</h2>
        <h3 class="cargo_nosotros"> Fundador SOA</h3>
        <div class="texto_escondido" id="texto_escondido_domingo">
            Estudiante de Ingeniería Civil en la Pontificia Universidad Católica de Chile. Cursando 
            un major en Ingeniería de Software y un minor en Data Science. <br>
            Muy apasionado por el atletismo y los deportes outdooor. También le gustan el Rock, el futbol
            y salir con sus amigos.
        </div>
    </div>
    <div class="grid_item_nosotros" id="item_2">
        <img class="imagen_nosotros" src="../assets/imgs/perfil_pablo.jpeg">
        <h2 class="nombre_nosotros"> Pablo San Francisco Rolla</h2>
        <h3 class="cargo_nosotros"> Fundador SOA</h3>
        <div class="texto_escondido" id="texto_escondido_pablo">
            Estudiante de Ingeniería Civil en la Pontificia Universidad Católica de Chile. Cursando 
            un major en Ingeniería de Software y un minor en Data Science. <br>
            Pablo disfruta mucho jugar ligas de fútbol con sus amigos y salir con sus amigos y amigas de noche
        </div>
    </div>


</section>