<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/index.css">
    <title>Landing Simulación Cadena de Producción</title>
</head>

<ul class="topnav">
    <li><a class="active" href="./simulacion.html">Simular</a></li>
    <li><a href="./historico.html">Mis Simulaciones</a></li>
    <li><a href="./solicitudes.html">Mis Solicitudes</a></li>

    <li class="right"><a href="../../index.html">Cerrar Sesión</a></li>
</ul>

<h1>SIMULACION HTML</h1>
