body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #BFCC94;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}


ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

button{
    position: fixed;
}

#foto_fondo{
    display: flex;
    width: 100%;
    height: 8cm;
}

#Box{
    backdrop-filter: blur(4px);
    background: rgba(255,255,255,.3);
    border: 1px solid #fff;
    padding: 20px 32px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    min-height: 185px;
    box-sizing: border-box;
}

.box-foto{  
  background-image: url(../imgs/landing.png);
  background-size: cover;
  width: 35.5cm;
  height: 10cm;
  margin: 10px 0 0 10px;
  position: relative;
  float: left;
}

.texto-box h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #2d6991;
  text-transform: uppercase;
  margin: 1cm;
  text-align: center;
  backface-visibility: hidden;
}

.texto-box{
  text-align: center;
}

.contenido {
  backdrop-filter: blur(4px);
  background: rgba(255,255,255,.3);
  border: 1px solid #fff;
  border-radius: 16px;
  height: auto;
  width: 15cm;
  position: absolute;
  transform: translate(0, -50%);
}


.button-72 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: Quicksand,sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .04em;
  line-height: 16px;
  margin: 0;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}