body {
    margin: 0;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #BFCC94;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1vw 1vw;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}


ul.topnav li.right {float: right;}

@media screen and (max-width: 30vw) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.seleccionar{
    background-color: #C4A484;
    color: white;
    border: 0.11vw solid black;
    color: #fff;
}

.inputcantidad{
    background-color: #C4A484;
    color: white;
    border: 0.11vw solid black;
}

.inputdateinicio{
    background-color: #C4A484;
    color: white;
    border: 0.11vw solid black;
}

.inputdatefin{
    background-color: #C4A484;
    color: white;
    border: 0.11vw solid black;
}




.lineamiento{
    align-items: center; 
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.todo{
    border-radius: 2vw;
    border: 0.11vw solid black;
    align-items: center; 
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(120, 204, 231);
    width: 95vw;
}

.titulo{
    align-items: center; 
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 2vw;
    font-family: Arial, Helvetica, sans-serif;
}

.arriba1 {
    margin: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    width: 100vw;
    height: 33vh;
    text-align: center;  
    color: #fff;
    opacity: .8;
}

.arriba {
    margin: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    width: 100vw;
    height: 33vh;
    text-align: center;  
    color: #fff;
}

.textocantidad1 {
    color: #fff;
    opacity: .5;
}

.textocantidad {
    color: #fff;
}

.labelcantidad1 {
    margin: 1vw;
    color: #fff;
    opacity: .5;
}

.labelcantidad {
    margin: 1vw;
    color: #fff;
}

.textoinicio1 {
    color: #fff;
    opacity: .5;
}

.textoinicio {
    color: #fff;
}

.labelfechainicio1 {
    margin: 1vw;
    color: #fff;
    opacity: .5;
}

.labelfechainicio {
    margin: 1vw;
    color: #fff;
}

.textofin1 {
    color: #fff;
    opacity: .5;
}

.textofin {
    color: #fff;
}

.labelfechafin1 {
    margin: 1vw;
    color: #fff;
    opacity: .5;
}

.labelfechafin {
    margin: 1vw;
    color: #fff;
}

.inputs{
    border-radius: 2vw;
    border: 0.11vw solid black;
    align-items: center; 
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    width: 25%;
    font-family: Arial, Helvetica, sans-serif;
  }

.outputs{
    margin-top: 1vh;
    width: 25%;
    text-align: center;  
    object-fit: contain;
  }

.foto{
    width: 80%;
    height:auto;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(20vw);
    margin: 2vw;
    border-radius: 2vw;
    border: 0.11vw solid black;
    text-align: center;
}

.parrafo{
    margin-top: 1vh;
    width: 25%;
    align-items: center; 
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.fechainicio{
    margin: 2vw;
}

.fechafin{

    margin: 2vw;
}

.descripcion{
    align-items: center; 
    justify-content: center;
    font-size: 1vw;
}

.labelproducto{
    margin: 1vw;
}

/* CSS */
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}