#formulario {
  width: 35vw;
  height: 120vh;
  min-height: 120vh;
  margin: 6vh;
  padding: 1vw 2vw;
  background: #f4f7f8;
  border-radius: 1vw;
  align-items: center; 
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.cuerpo_inicio{
  align-items: center; 
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.empresa{
  align-items: center; 
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.drop{  
  align-items: center; 
  justify-content: center;
  display: flex;
  flex-direction: column;}

#titulo_sesion{
  width: 20vw;
  text-align: center;
}

#formulario_sesion{
  width: 30vw;
  height: 55vh;
  padding: 1vw 2vw;
  margin: 5vh;
  background-color: #f4f7f8;
  border-radius: 1vw;
  align-items: center; 
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

.labels{
  width: 20vw;
}

.register{
  align-items: center; 
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#titulo_registro {
  margin: 0 0 3vh 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"],

.seleccionar {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 1vw;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 1.5vw;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

.submit_button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: lightblue;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid lightblue;
  margin-bottom: 10px;
  margin-left: 10%;
  cursor: pointer;
}

.registerbutton {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: lightblue;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid lightblue;
  margin-bottom: 10px;
  margin-left: 10%;
  cursor: pointer;
  margin-left: 2vw;
}

.esquema {
  border: none;
  align-items: center; 
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.esquema_inicio{
  border: none;
  align-items: center; 
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.letras {
  font-size: 1.4em;
  margin-bottom: 10px;
  text-align: center;
  

}

.labels {
  display: block;
  margin-bottom: 8px;
}

.numero {
  background-color: lightblue;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

#label_escondida{
  visibility: hidden;
}

.seleccionar{
  margin-top: 1vh;
  width: 20vw;
}